.navbar {

  height: 76px !important;

  .clusterNavbar {
    background-color: #333333;
    height: 38px;
    padding-top: 38px;
    width: 100%;

    ul {

      font-weight: 100;
      padding: 0;

      li {
        float: left;
        margin-right: 15px;

        i {
          font-size: 16px;
          margin-left: 5px;
          margin-top: 2px;
          position: absolute;
        }

        i:hover {
          cursor: pointer;
        }

      }
    }
  }
}

ul.navlist {

  margin: 0;

  > li.active,
    li.dropdown-item:hover,
    > li:hover {
      background-color: #333;
      border-bottom: 2px solid #8AA051;
    }
}
