.health-row {
  background: rgb(250, 250, 250);
  margin: 2em auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.health-state-box {

  p {
    float: left;
  }

  p:first-child {
    i {
      font-size: 70pt;
    }
  }

  p:last-child {
    font-size: 14pt;
    padding-left: 5px;
    padding-top: 30px;
  }

}

.health-box {

  border-right: 1px solid rgba(0,0,0,0.1);

  h3 {
    margin-left: 5%;
  }

  .health-table {
    width: 85%;
    margin-bottom: 20px;
    margin-left: 10%;

    td {
      height: 20px;
    }

    i {
      font-size: 12pt;
    }

  }

}
