.management-content {

  .pure-g {
     .management-right {
       @extend .border;
       margin-left: 2.5px;
     }

     .management-left {
       margin-right: 2.5px;

       .management-thead {
         @extend .border-top;

         div {
           padding-top: 3px;
           padding-bottom: 3px;
         }

       }

       .management-tbody {
         @extend .no-border-top;

         .t-row {
           height: 35px;

           div {
             padding-top: 8px;
           }

           div:first-child {
             i {
               margin-top: -1px;
               padding-left: 10px;
               font-size: 16pt;
             }
           }
         }

       }
     }

     .management-box {

        height: 100%;
        min-height: 400px;

     }
   }
}
