.t-head {
}

.t-cluster-body {
  @extend .border;
  background-color: $c-table-bg;

  .t-row {
    font-weight: 100;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    .l-from {
      font-size: 10pt;
      font-weight: 100;
      font-style: italic;
    }

    .l-icon {
      @extend .icon-border;

      margin-left: 15px;
      width: 21px;
      height: 21px;

     i {
       margin-left: 4px;
       margin-top: 2px;
       font-size: 12pt;
     }


    }

    .fa-clock-o {
      margin-right: 5px;
    }
  }

  .t-row:last-child {
    border-bottom: 0;
  }
}
