<script id="logsView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Logs</a>
  </div>

  <div class="logContent">

    <div class="pure-g t-head t-cluster">
    </div>
    <div class="pure-g t-body t-cluster-body">
    </div>

  </div>
</script>
